.text_bit {
    border-bottom-style: solid;
    border-color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: solid red;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.dropzone{
  border-style: dotted;
  border-color: transparent;
  height: 30px;
  display:inline-block;
  min-width: 5px;
  float: left;
}

.delete{
  float: right;
}
.category{
  float: left;
  height: 30px;
  background-color: transparent;
  border-color: red;
  width: 60px;
}