<html>
    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/input_handler.js') }}"></script>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/textpage.css') }}">
        <title>{{ title }} - Microblog</title>
    </head>
    <body>
        <div>
        {% for i in range(len) %}
            <div style="float: left" class="sepaerator">
                <form method="post">
                    <button class="sepaerator_text" onclick="myFunction(this)" style="padding: 5px; float: left;", name="{{ i }}">
                        {{ files[i][1][0] }}
                    </button>
                </form>
            </div>
            <div style="float: left;">
                {% for word in files[i][0] %}
                <div class="wordContainer {{ i }}" style="float: left; padding: 7px;" onload="set_color(this, {{ i }})">
                    {{ word }}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </body>
</html>