<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/textpage.css') }}">
        <title>{{ title }} - Correct</title>
        <script>
            document.addEventListener("dragstart", dragstart_handler);
            function dragstart_handler(ev) {

                ev.dataTransfer.setData("text", ev.target.id);
                console.log(ev.target.id)
                var dropzones = document.getElementsByClassName("dropzone")
                for (i = 0; i < dropzones.length; i++){
                    dropzones[i].style.borderColor = "gray"
                }

            }
            function drop_handler(ev) {
                ev.preventDefault();
                if(ev.target.className === "dropzone"){
                    var data = ev.dataTransfer.getData('text');
                    if(data==="new"){
                        var categorys = document.getElementsByClassName("category")
                        var maxId = 0
                        for (i = 0; i < categorys.length; i++){
                            if(parseInt(categorys[i].id) > maxId){
                                maxId = parseInt(categorys[i].id)
                            }
                        }
                        maxId=maxId+1
                        var cln = document.getElementById(data).cloneNode(true);
                        cln.id=maxId + ""
                        cln.name="cat_" + maxId
                        ev.target.appendChild(cln);
                    }else{
                        ev.target.appendChild(document.getElementById(data));
                    }
                }
                var dropzones = document.getElementsByClassName("dropzone")
                for (i = 0; i < dropzones.length; i++){
                    dropzones[i].style.borderColor = "transparent"
                }
            }
            function drop_handler_delete(ev) {
                ev.preventDefault();
                if(ev.target.className === "dropzone"){
                    var data = ev.dataTransfer.getData('text');
                    ev.target.appendChild(document.getElementById(data));
                    ev.target.removeChild(document.getElementById(data));
                }
                var dropzones = document.getElementsByClassName("dropzone")
                for (i = 0; i < dropzones.length; i++){
                    dropzones[i].style.borderColor = "transparent"
                }
            }
            function dragover_handler(ev) {
                ev.preventDefault();
                ev.dataTransfer.dropEffect = "move";
            }

        </script>
    </head>
    <body>
        {% include 'topnav.html' %}
        <div style="float:left; width: 100%">
            <h1>TEXT</h1>
            <form method="post">
                <div class="text" style="float: left">
                {% for i in range(len) %}

                    {% for j in range(files[i][0]|length) %}

                    <div class="dropzone" ondrop="drop_handler(event)" ondragover="dragover_handler(event)">
                        {% if j == 0 %}
                            <input class="category" ondrop="return false" height="30px" width="fit-content" name="cat_{{ i }}" style='width:{{(files[i][1]|length+1) * 8 }}px; ' id="{{i}}" draggable="true" value="{{ files[i][1] }}">
                        {% endif %}
                    </div>
                    {% if files[i][0][j] != None %}
                        <input ondrop="return false" height="30px" width="fit-content" style=' border-color: transparent; height: 30px; float: left; width: {{(files[i][0][j]|length+1) * 8 }}px' onkeydown='this.style.width = ((this.value.length + 1) * 8) + "px";' name="wordContainer_{{ i }}_word_{{ j }}" value="{{ files[i][0][j] }}">
                    {% endif %}

                    {% endfor %}

                {% endfor %}
                </div>
                <div>
                    <button style="float: left" name="submit">save</button>

                    <input class="category" ondrop="return false" height="30px" width="fit-content" name="new" id="new" draggable="true" value="new" onkeydown="this.style.width = ((this.value.length + 1) * 8) + 'px'; this.name = this.value;" >

                    <div class="dropzone delete" ondrop="drop_handler_delete(event)" ondragover="dragover_handler(event)">
                        <a class="dropzone" ondrop="drop_handler_delete(event)" ondragover="dragover_handler(event)" >TO DELETE DRAG HERE</a>
                    </div>
                </div>
            </form>
        </div>
        <div style="float:left; width: 100%; height: 10%">
            <h1>backups</h1>
        </div>
        <div style="float:left; width: 100%; height: auto">
            {% include 'backups.html' %}

        </div>
    </body>


</html>