<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/textpage.css') }}">
        <title>{{ title }} - Correct</title>
    </head>
    <body>
        {% include 'topnav.html' %}
        <div>
            <form method="post">
                <div class="text" style="float: left; width: 80%">
                {% for i in range(len) %}

                    {% for j in range(files[i][1]|length) %}

                        <div class="dropzone" ondrop="drop_handler(event)" ondragover="dragover_handler(event)">

                            {% if j == 0 %}
                                <input class="category" ondrop="return false" height="30px" width="fit-content" name="cat_{{ i }}" style='width:{{(files[i][0]|length+1) * 8 }}px; ' id="{{i}}" draggable="true" value="{{ files[i][0] }}">
                            {% endif %}
                        </div>
                        {% if files[i][1][j] != None %}
                            <input onclick="showPupup({{i}},{{j}})" ondrop="return false" height="30px" width="fit-content" style='z-index: 2; border-color: transparent; height: 30px; float: left; width: {{(files[i][1][j][0]|length+1) * 8 }}px' onkeydown='this.style.width = ((this.value.length + 1) * 8) + "px";' name="wordContainer_{{ i }}_word_{{ j }}" value="{{ files[i][1][j][0] }}">
                                {% for z in range(files[i][1][j][1]|length) %}
                                    <div class="infobox stack-top" id="affBox_{{ i }}_{{ j }}" style="display: none; float:left">
                                        <table id="tab_{{i}}_{{j}}" style="border-style: solid; width: 100%">
                                            <tr style="width: 100%">
                                                <th style="width: 50%">Attributes:</th>
                                            </tr >
                                            {% for z in range(files[i][1][j][1]|length) %}
                                            <tr style="width: 100%">
                                                <td style="width: 50%">
                                                    <input name="attKey_{{i}}_{{j}}_{{z}}" value="{{files[i][1][j][1][z][0]}}">
                                                </td>
                                                <td style="width: 40%">
                                                    <input name="attValue_{{i}}_{{j}}_{{z}}" value="{{files[i][1][j][1][z][1]}}">

                                                </td>
                                                <td style="width: 10%">
                                                    <div onclick="removeRow({{i}},{{j}},{{z}}+1)">
                                                        X
                                                    </div>

                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <tr style="width: 100%">
                                                <td style="width: 50%">
                                                    <input onclick="addNewRow({{i}},{{j}})">
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                {% endfor %}
                        {% endif %}

                    {% endfor %}

                {% endfor %}
                </div>
                <div style="float: left; width: 100%">
                    <button style="float: left" name="recover">recover</button>
                </div>
            </form>
        </div>
    </body>
</html>