<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><link rel="stylesheet" href="{{ url_for('static', filename='styles/style_topnav.css') }}">


<body>
    <div class="topnav" id="myTopnav">
            <a style="float: left;" href='{{ url_for("ueberlieferung") }}'>Überlieferungen</a>

      {% if not username %}
            <a style="float: right" href='{{ url_for("login") }}'>Login</a>
            <a style="float: right" href='{{ url_for("change_pw") }}'>reset-password</a>
        {% endif %}

        {% if username %}
            <a style="float: right;">{{username}}</a>
            <a style="float: right;" href='{{ url_for("logout") }}'>Logout</a>
            <a style="float: right;" href='{{ url_for("change_mail") }}'>Change-Email</a>
            <a style="float: right;" href='{{ url_for("change_pw") }}'>Change-Password</a>
            <a style="float: right;" href='{{ url_for("register") }}'>Register</a>
       {% endif %}
    </div>
</body>

